.switch {
    display: inline-block;
}

.switch span {
    position: relative;
    width: 60px;
    height: 34px;
    float: left;
}

.switch label {
    line-height: 34px;
    margin-left: 12px;
    cursor: pointer;
}

.switch span input {
    display: none;
}

.switch span input:checked + .slider {
    background-color: #218d96;
}

.switch span input:checked + .slider:before {
    transform: translateX(26px);
}

.switch span input:focus + .slider {
    box-shadow: 0 0 1px #218d96;
}


.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 0;
    outline: none;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

label{
    color: #ffffff;
}